.idea/
logs/
igv_sessions/
experiments/
__pycache__/
*.egg-info/
build/
dist/
.pytest_cache

# data outputs from sample notebook
workflows/**/*.fa
workflows/**/*.fai
workflows/**/*.txt
workflows/**/*.vcf
workflows/**/*.log
workflows/**/*.bed